<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<h4>Models</h4>
<hr/>
<a href="/admin/artists">Artists</a>
<a href="/admin/albums">Albums</a>
<a href="/admin/songs">Songs</a>
<a href="/admin/tags">Tags</a>
</body>
</html>