<div align="center">
    <a href="/admin/artists" class="cross-fade">Artists</a>
    <a href="/admin/albums" class="cross-fade">Albums</a>
    <a href="/admin/songs" class="cross-fade">Audios</a>
    <a href="/admin/tags" class="cross-fade">Tags</a>
    <a href="/admin/users" class="cross-fade">Users</a>
    <hr/>
</div>
