@using Domain.Models
@using Web.ViewModels.Home
@model Web.ViewModels.Home.SearchViewModel

<body>
<div align="center">
   <h2>Audios</h2>
   <hr/>
   <form action="/home/index" enctype="multipart/form-data" method="post">
       <div asp-validation-summary="All" class="text-danger"></div>
       <div class="form-group">
           <label asp-for="Search" class="control-label">Search</label>
           <input type="text" asp-for="Search" class="form-control"/>
       </div>
       <div class="form-group">
           <label asp-for="Category" class="control-label">In</label>
           <select asp-for="Category" asp-items="Html.GetEnumSelectList<Categories>()" class="form-control"></select>
       </div>
       <div class="form-group">
           <input type="submit" value="Submit" style="margin-top: 10px"/>
       </div>
   </form>
   <table class="admin_table" cellpadding="0" cellspacing="0">
       @foreach (Song song in Model.Songs)
       {
           <tr>
               <td>
                   <audio controls style="width: 350px">
                       <source src="~/audio/@song.FilePath" type="audio/@song.FilePath.Split('.')[1]">
                       Your browser does not support the audio element.
                   </audio>
               </td>
               <td><img src="~/img/albums/@song.Album.ImagePath" style="width: auto; height: 60px"></td>
               <td>@song.Name</td>
               <td><a class="draw-outline draw-outline--tandem" href="/home/artist?id=@song.Album.Artist.Id">@song.Album.Artist.Name</a></td>
               <td><a class="draw-outline draw-outline--tandem" href="/home/album?id=@song.Album.Id">@song.Album.Name</a></td>
               <td>
                   <div class="inline" style="height: 20px; width: 100px; overflow-y: auto; overflow-x: hidden; padding-right: 10px">
                       <table>
                           @foreach (var tag in song.Tags)
                           {
                               @if (tag.Verified)
                               {
                                   @tag.Name
                                   <break/>;
                               }
                           }
                       </table>
                   </div>
                   <div class="inline">
                       @if (User.Identity.IsAuthenticated)
                      {
                         <a class="draw-outline draw-outline--tandem" href="/home/addTag?id=@song.Id">Add</a>
                      }
                   </div>
               </td>
           </tr>
       }
   </table> 
</div>
</body>
