@using Domain.Models
@model IEnumerable<Domain.Models.Song>
 
@if(User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Logout" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
}
 
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<h4>Songs</h4>
<hr/>
<table cellpadding="0" cellspacing="0">
    <tr>
        <th>SongID</th>
        <th>Name</th>
        <th>Album</th>
    </tr>
    @foreach (Song song in Model)
    {
        <tr>
            <td>@song.Id</td>
            <td>@song.Name</td>
            <td>@song.Album.Name</td>
        </tr>
    }
</table>
</body>
</html>